@include addon("sponsorblock", "/popup.html")
  body
    width: unset !important
    margin: unset !important
    @if $addons-change-ui
      background: $panel-background !important

  #sponsorblockPopup
    width: unset !important

  @if $addons-change-ui
    #sponsorBlockPopupLogo
      display: none
