$panel-text: rgb(251, 251, 254)
$panel-background: rgb(66, 65, 77)
$panel-background-hover: rgb(82, 82, 94)
$panel-button-padding: 8px

@import "transparent"

@import "a_ublock-origin", "a_i-dont-care-about-cookies", "a_sponsorblock"
